body,
h1,
h2
p,
ul,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Noto Sans JP", sans-serif;
}
li,
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  vertical-align: bottom;
  max-width: 100%;
}