.App {
  text-align: center;
  min-height: 350vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.inner-container{
  width: 960px;
  margin: 0 auto;
  height: 300vh;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}
.inner-container h2{
  text-align: left;
}
.layout {margin-top: 20vh;}
.App-header  {
  min-width: 960px;
  background-color: #282c34;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  cursor: pointer;
}
.App-footer  {
  min-width: 960px;
  background-color: #282c34;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  cursor: pointer;
}
.accordionContainer {
  height: 20vh;
}
.slider img{
  width:100%;
  object-fit: cover;
}
.slick-prev:before, .slick-next:before {
  color: black !important;
}
.MuiSvgIcon-root {
  width: 3.5em !important;
  height: 3.5em !important;
}
.MuiButton-textSizeLarge {
  padding: 8px 11px;
  font-size: 3rem !important;
}
.MuiButtonGroup-root {
  border-radius: none !important;
  position: absolute !important;
  right: 40px !important;
}
.MuiTypography-body1 {
  font-size: 3rem !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}
.active {
  border-bottom: 2px solid #fff;
}
.lightbox img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
@media screen and (max-width:768px) {
  .App {
    min-height: 400vh;
  }
  .slider {
    max-width:768px;
    margin-left: 5rem;
  }
  .inner-container {
    width: 100% !important;
  }
  .lightbox {
    margin-left: 5rem;
  }
  .lightbox ul {
    flex-wrap: wrap !important;
  }
  .lightbox li {
    width: 50%;
  }
  .lightbox img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
  }
  .accordionContainer {
    margin-left: 5rem;
  }

}